:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: rgba(0,0,0,.3);
  --label: rgba(0,0,0,.6);
  --logo-y-pos: -51px;
  --input-bg: rgba(0,0,0,.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: rgb(255,255,255,.3);
    --label: rgba(255,255,255,.6);
    --logo-y-pos: 0px;
    --input-bg: rgba(255,255,255,.05);
    }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 400px;
    padding: 30px;
    border: 1px solid var(--border);
    
    
    p{
      font-size: .8em;
      text-align: center;
      margin-bottom: 10px;
      border-bottom: 1px solid silver;
      width: 90%;
      padding-bottom: 5px;
      border-radius: 3px;
    }

    i{
      background-image: url("https://static.cdninstagram.com/rsrc.php/v4/yB/r/E7m8ZCMOFDS.png");
      background-position: 0px var(--logo-y-pos);
      background-size: auto;
      width: 175px;
      height: 51px;
      background-repeat: no-repeat;
      display: inline-block;
      margin-bottom: 30px;
    }

    .styled-input{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      width: 90%;
      position: relative;

      label{
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: .7em;
        color: var(--label);
      }

      .input-container{
        height: 40px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-color: var(--input-bg);
        border: 1px solid var(--border);
        padding-bottom: 5px;
        position: relative;
        border-radius: 5px;

        input{
          width: 100%;
          font-size: .8em;
          background-color: transparent;
          outline: none;
          padding: 0 10px;
          border: none;
          color: var(--foreground);
        }

        button{
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 30%;
          color: var(--foreground);
          border-radius: 0;
          border: none;
          background-color: transparent;
          color: var(--foreground);
          font-weight: bold;
          opacity: 1;
          transition: .2s;

          text-align: right;
          padding-right: 10px;

          &:hover{
            cursor: pointer;
            opacity: .7;
          }
        }
      }
    }
    
    .message{
      border-top: 2px solid silver;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      
      p{
        border: none;
        padding: 0;
        color: red;
      }
    }

    button{
      background-color: rgb(0, 149, 246);
      height: 40px;
      width: 90%;
      border-radius: 10px;
      border: none;
      color: var(--foreground);
    }
  }

  
}